@media screen and (max-width: 735px) {
    html {
        font-size: 50%;
    }
}

@media screen and (max-width: 577px) {
    html {
        font-size: 30%;
    }
}

@media screen and (max-width: 351px) {
    html {
        font-size: 20%;
    }
}

@media screen and (max-width: 233px) {
    html {
        font-size: 10%;
    }
}